html {
    position: relative;
    min-height: 100%;
}

.ui.card {
    display: inline-block;
    margin: 2em;
}

.ui.card:hover {
    transform: scale(1.05);
}

i {
    transform: scale(2);
    padding: 0 1.2rem;
}